/**
 * Updated Black theme for reveal.js with SPy logo.
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background-color: #222; 
  background-image: url("../img/pycon_sk.svg");
  background-size: 150px 150px;
  background-position: left bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

.reveal a, .reveal a:hover {
  color: #8ee5ee;
}

.reveal p.tiny {
  font-size: 0.5em;
}

.dark {
  background-color:rgba(0, 0, 0, 0.5);
}
